.profile-image {
  width: 120px; /* Ancho del contenedor */
  height: 120px; /* Alto del contenedor */
  border-radius: 50%; /* Para hacer el contenedor circular */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

.profile-image img {
  width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}


  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Circle for profile picture */
    margin-bottom: 0.5rem;
  }
  
  .profile-info {
    text-align: center;
  }

  .top-profile{
    display: flex ;
    padding: 20px;
  }

  
  .reviews {
    margin-top: 1rem;
  }
  